/* ==========================================================================
   Helpers
   ========================================================================== */
.clearfix:before, .clearfix:after {
	display: table;

	content: " ";
}

.clearfix:after {
	clear: both;
}

.vertical-center {
	height: 100%;

	text-align: center;

	&:before {
		display: inline-block;

		height: 100%;

		content: "";
		vertical-align: middle;
	}

	> * {
		display: inline-block;

		vertical-align: middle;
	}
}
