// ==========================================================================
// Helpers
// ==========================================================================
.u-vertical-center {
	@include vertical-center;
}

.u-clearfix {
	@include clearfix;
}

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.u-hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
	position: static;
	overflow: visible;
	clip: auto;
	margin: 0;
	width: auto;
	height: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.u-invisible {
	visibility: hidden;
}
