<footer class="o-container">
    <p>Made by Locomotive<br>
    <a href="https://github.com/locomotivemtl/locomotive-boilerplate" title="Locomotive Boilerplate" target="_blank" rel="noopener">Github</a>
    </p>
</footer>
