<header class="o-container">
    <h1><a href="/">Locomotive Boilerplate</a></h1>
    <nav>
        <ul>
            <li><a href="/grid">Grid</a></li>
            <li><a href="/form" data-load="customTransition">Form</a></li>
            <li><a href="/wysiwyg">Wysiwyg</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</header>
