{% set _logo_tag = page.url == '/' ? 'h1' : 'span' %}

<header>
    <a href="/">
        <{{_logo_tag}} style="text-decoration: underline;">Locomotive Boilerplate</{{_logo_tag}}>
    </a>
    <nav>
        <ul>
            <li><a href="/images">Images</a></li>
            <li><a href="/form" data-load="customTransition">Form</a></li>
            <li><a href="/grid">Grid</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</header>
