/* ==========================================================================
   Grid
   ========================================================================== */
.grid {
	font-size: 0;

	margin-left: -$gutter;

	letter-spacing: normal;

	&.-full {
		margin-left: 0;

		> .grid__item {
			margin-bottom: 0;
			padding-left: 0;
		}
	}

	&.-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;

		list-style: none;
	}
}

.grid__item {
	font-size: $font-size;

	display: inline-block;

	width: 100%;
	margin-bottom: $gutter;
	padding-left: $gutter;

	vertical-align: top;
}

.whole {
	width: 100%;

	@extend .grid__item;
}

.half {
	@extend .grid__item;
	@media (min-width: $from-small) {
		width: span(1/2);
	}
}

.third {
	@extend .grid__item;
	@media (min-width: $from-medium) {
		width: span(1/3);
	}
}

.two-thirds {
	@extend .grid__item;
	@media (min-width: $from-medium) {
		width: span(2/3);
	}
}

.quarter {
	@extend .grid__item;
	@media (min-width: $from-medium) {
		width: span(1/4);
	}
}

.two-quarters {
	@extend .grid__item;
	@media (min-width: $from-medium) {
		width: span(2/4);
	}
}

.three-quarters {
	@extend .grid__item;
	@media (min-width: $from-medium) {
		width: span(3/4);
	}
}

.fifth {
	@extend .grid__item;
	@media (min-width: $from-large) {
		width: span(1/5);
	}
}

.two-fifths {
	@extend .grid__item;
	@media (min-width: $from-large) {
		width: span(2/5);
	}
}

.three-fifths {
	@extend .grid__item;
	@media (min-width: $from-large) {
		width: span(3/5);
	}
}

.four-fifths {
	@extend .grid__item;
	@media (min-width: $from-large) {
		width: span(4/5);
	}
}

.sixth {
	@extend .grid__item;
	@media (min-width: $from-huge) {
		width: span(1/6);
	}
}

.two-sixths {
	@extend .grid__item;
	@media (min-width: $from-huge) {
		width: span(2/6);
	}
}

.three-sixths {
	@extend .grid__item;
	@media (min-width: $from-huge) {
		width: span(3/6);
	}
}

.four-sixths {
	@extend .grid__item;
	@media (min-width: $from-huge) {
		width: span(4/6);
	}
}

.five-sixths {
	@extend .grid__item;
	@media (min-width: $from-huge) {
		width: span(5/6);
	}
}
