# Package Managers

composer.lock
composer.phar
vendor/
node_modules/
bower_components/

# Logging

*.log
logs/

# Caches

mustache_cache/
tmp/

# Charcoal

/www/charcoal/
/www/uploads/*
/config/config.local.json
!assets/**/vendor/
