// ==========================================================================
// Tools / Font Faces
// ==========================================================================

// Mixin
@mixin fontfaces($webfonts, $dir) {
    @each $webfont in $webfonts {
        @font-face {
            font-display: swap;
            font-family: nth($webfont, 1);
            src: url("#{$dir}#{nth($webfont, 2)}.woff2") format("woff2"),
                 url("#{$dir}#{nth($webfont, 2)}.woff") format("woff");
            font-weight: #{nth($webfont, 3)};
            font-style: #{nth($webfont, 4)};
        }
    }
}

// Function
@function ff($font-family) {
    @if not map-has-key($font-families, $font-family) {
       @error "No font-family found in $font-families map for `#{$font-family}`. Property omitted.";
   }

    $value: map-get($font-families, $font-family);
    @return $value;
}
