/* ==========================================================================
   Functions
   ========================================================================== */
@function em($px, $base: $font-size) {
  @return ($px / $base) * 1em;
}

@function rem($px, $base: $font-size) {
    @return ($px / $base) * 1rem;
}

@function span($fraction) {
    @return $fraction * 100%;
}
