// ==========================================================================
// Headings
// ==========================================================================
@mixin h {
	line-height: $heading-line-height;
	margin-top: 0;
}
.h {
	@include h;
}

h1, .h1 {
	@extend .h;

	font-size: $heading1;
}

h2, .h2 {
	@extend .h;

	font-size: $heading2;
}

h3, .h3 {
	@extend .h;

	font-size: $heading3;
}

h4, .h4 {
	@extend .h;

	font-size: $heading4;
}

h5, .h5 {
	@extend .h;

	font-size: $heading5;
}

h6, .h6 {
	@extend .h;

	font-size: $heading6;
}
