// ==========================================================================
// Headings
// ==========================================================================
h1, .h1, .alpha {
	font-size: $heading1;
	line-height: $heading-line-height;

	margin-top: 0;
}

h2, .h2, .beta {
	font-size: $heading2;
	line-height: $heading-line-height;

	margin-top: 0;
}

h3, .h3, .gamma {
	font-size: $heading3;
	line-height: $heading-line-height;

	margin-top: 0;
}

h4, .h4, .delta {
	font-size: $heading4;
	line-height: $heading-line-height;

	margin-top: 0;
}

h5, .h5, .epsilon {
	font-size: $heading5;
	line-height: $heading-line-height;

	margin-top: 0;
}

h6, .h6, .zeta {
	font-size: $heading6;
	line-height: $heading-line-height;

	margin-top: 0;
}
