/* ==========================================================================
   Imports
   ========================================================================== */
@import
	  "settings"

	, "vendors/jacket"

	, "base/base"
	, "base/fonts"
	, "base/forms"
	, "base/grid"

	, "tools/functions"
	, "tools/mixins"
	
	, "generic/helpers"
	, "generic/normalize"
	, "generic/trumps"

	;

p {
	position: absolute;

	color: red;
	border: 1px solid red;
}
