/* ==========================================================================
   Settings
   ========================================================================== */

/* Typography
   ========================================================================== */
$font-size: 16px;
$line-height: 1.4;
$font-family: sans-serif;
$color: #222222;
//
$heading1: 32px; // .alpha
$heading2: 24px; // .beta
$heading3: 19px; // .gamma
$heading4: 16px; // .delta
$heading5: 13px; // .epsilon
$heading6: 11px; // .zeta
$heading-line-height: 1.2;
//
$milli-size: 10px !default;
$micro-size: 8px !default;


/* Colour Palette
   ========================================================================== */
$black: #000000;
$white: #FFFFFF;
//
$link: #1A0DAB;
$link-hover: darken(#1A0DAB, 10%);


/* Spacings
   ========================================================================== */
$margin10: 10px;
$margin20: 20px;
$margin30: 30px;
$margin40: 40px;


/* Z-index
   ========================================================================== */
$z-index1: 50;
$z-index2: 150;
$z-index3: 250;

/* Screen widths
   ========================================================================== */
$from-tiny: 414px;
$to-tiny: $from-tiny - 1;
$from-small: 768px;
$to-small: $from-small - 1;
$from-medium: 1024px;
$to-medium: $from-medium - 1;
$from-large: 1280px;
$to-large: $from-large - 1;
$from-huge: 1680px;
$to-huge: $from-huge - 1;

/* Transitions
   ========================================================================== */
$speed: 0.3s;
