/* ==========================================================================
   Settings
   ========================================================================== */

/* Typography
   ========================================================================== */
$font-size: 16px;
$line-height: 1.4;
$font-family: sans-serif;
$color: #222222;
//
$heading1: 32px; // .alpha
$heading2: 24px; // .beta
$heading3: 19px; // .gamma
$heading4: 16px; // .delta
$heading5: 13px; // .epsilon
$heading6: 11px; // .zeta
$heading-line-height: 1.2;
//
$milli-size: 10px !default;
$micro-size: 8px !default;


/* Colour Palette
   ========================================================================== */
$black: #000000;
$white: #FFFFFF;
//
$link: #1A0DAB;
$link-hover: darken(#1A0DAB, 10%);


/* Spacings
   ========================================================================== */
$margin10: 10px;
$margin20: 20px;
$margin30: 30px;
$margin40: 40px;


/* Z-index
   ========================================================================== */
$z-index1: 50;
$z-index2: 150;
$z-index3: 250;

/* Screen widths
   ========================================================================== */
$from-xs: 414px;
$to-xs: $from-xs - 1;
$from-s: 768px;
$to-s: $from-s - 1;
$from-m: 1024px;
$to-m: $from-m - 1;
$from-l: 1280px;
$to-l: $from-l - 1;
$from-xl: 1680px;
$to-xl: $from-xl - 1;

/* Transitions
   ========================================================================== */
$speed: 0.3s;
