// ==========================================================================
// Button resets
// ==========================================================================
button,
.button {
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: none;
	color: inherit;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font: inherit;
	line-height: normal;
	cursor: pointer;
	user-select: none;

	&:hover {
		text-decoration: none;
	}
}
