/* ==========================================================================
   Form Resets
   ========================================================================== */
input, select, textarea {
	display: block;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

textarea {
	resize: vertical;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
