// ==========================================================================
// Generic resets
// ==========================================================================
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

button {
	border: none;
	outline: none;
	background-color: none;
}
