// ==========================================================================
// Base
// ==========================================================================
html {
	color: $color;
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
}

::selection {
	background: $selection;
	color: $selection-text;
	text-shadow: none;
}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
}

img, svg {
	max-width: 100%;
}

a {
	color: $link;

	&:hover {
		color: $link-hover;
	}
}
