// ==========================================================================
// Base / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in ems, the `line-height` is calculated to exist unitlessly.
// 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.
//
html {
    overflow-y: scroll; /* [2] */
    min-height: 100%; /* [3] */
    color: $color;
    font-size: em($font-size, 16px); /* [1] */
    font-family: $font-family;
    line-height: $line-height; /* [1] */
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: none;
}

a {
    @include u-hocus {
        color: $link-hover-color;
    }

    color: $link-color;
}
