// ==========================================================================
// Trumps
// ==========================================================================
.left {
	float: left !important;
}

.right {
	float: right !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

// States
// ==========================================================================
.is-visible {
	visibility: visible !important;

	opacity: 1 !important;
}

.is-hidden {
	visibility: hidden !important;

	opacity: 0 !important;
}
