///
/// Settings / Config / Aliases
/// ============================================================================
///

// Font Weights
// =============================================================================

$light:     300;
$normal:    400;
$medium:    500;
$semibold:  500;
$bold:      700;
$bolder:    900;

// Links
// =============================================================================

$link-color:        $link-idle-color;
$link-focus-color:  $link-enter-color;
$link-hover-color:  $link-enter-color;

// Spacing Units
// =============================================================================

$unit:        $global-spacing-unit;
$unit-tiny:   $global-spacing-unit-tiny;
$unit-small:  $global-spacing-unit-small;
$unit-large:  $global-spacing-unit-large;
$unit-huge:   $global-spacing-unit-huge;
