// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================

$color-lightest: #ffffff;
$color-darkest: #000000;

// Specific
// =============================================================================

// Link
$color-link: #1a0dab;
$color-link-focus: #1a0dab;
$color-link-hover: darken(#1a0dab, 10%);

// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================

$color-facebook: #3b5998;
$color-instagram: #e1306c;
$color-youtube: #cd201f;
$color-twitter: #1da1f2;
