// ==========================================================================
// Settings
// ==========================================================================

// Colors
// ==========================================================================
// Generic
$black: #000000;
$white: #ffffff;
// Specific
$selection: #3297fd;
$selection-text: $white;
$link: #1a0dab;
$link-hover: darken(#1a0dab, 10%);

// Typography
// ==========================================================================
// Base
$font-size: 16px;
$line-height: 1.4;
$font-family: sans-serif;
$color: #222222;
// Headings
$heading1: 32px;
$heading2: 24px;
$heading3: 19px;
$heading4: 16px;
$heading5: 13px;
$heading6: 11px;
$heading-line-height: 1.2;
// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Container
// ==========================================================================
$max-width: 2000px;
$padding: 30px;

// Spacings
// ==========================================================================
$unit: 60px;

// Screen widths
// ==========================================================================
$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$from-small: 700px;
$to-small: $from-small - 1;
$from-medium: 1000px;
$to-medium: $from-medium - 1;
$from-large: 1200px;
$to-large: $from-large - 1;
$from-huge: 1600px;
$to-huge: $from-huge - 1;

// Transitions
// ==========================================================================
$speed: 0.3s;
$easing: linear;
