// ==========================================================================
// Components / Wysiwyg
// ==========================================================================

.c-wysiwyg {
    // ==========================================================================
    // Margins
    // ==========================================================================
    &-first-element,
    >:first-child {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    &-last-element,
    >:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    // ==========================================================================
    // Default
    // ==========================================================================
    // @include text;
    // @include body-large;

    // ==========================================================================
    // Paragraph
    // ==========================================================================
    p,
    iframe,
    img,
    table {
        margin-bottom: rem(30px);
        & + p,
        & + ul,
        & + ol {
            margin-top: 1em;
            margin-bottom: rem(30px);
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: rem(60px);
        }
    }

    // ==========================================================================
    // Headings
    // ==========================================================================
    b, strong {

    }

    h1,h2,h3,h4,h5,h6 {
        // @include heading;
        font-weight: normal;
    }

    h1 {
        // @include heading-h3;
        margin-top: size-clamp('lg');
        margin-bottom: rem(40px);

        & + p,
        & + ul,
        & + ol,
        & + table,
        & + figure {
            margin-top: rem(40px);
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: size-clamp('md');
        }
    }

    h2 {
        // @include heading-h3;
        margin-top: size-clamp('lg');
        margin-bottom: size-clamp('md');

        & + p,
        & + ul,
        & + ol,
        & + table,
        & + figure {
            margin-top: size-clamp('md');
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: size-clamp('md');
        }
    }

    h3 {
        // @include heading-h4;
        margin-top: size-clamp('lg');
        margin-bottom: size-clamp('md');

        & + p,
        & + ul,
        & + ol,
        & + table,
        & + figure {
            margin-top: size-clamp('md');
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: size-clamp('md');
        }
    }

    h4,
    h5,
    h6 {
        margin-top: size-clamp('lg');
        margin-bottom: size-clamp('sm');

        & + p,
        & + ul,
        & + ol,
        & + table,
        & + figure {
            margin-top: size-clamp('sm');
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: size-clamp('sm');
        }
    }

    h4 {
        // @include heading-h5;
    }

    h5 {
        // @include heading-h6;
    }

    h6 {
        // @include heading-h6;
    }

    // ==========================================================================
    // Lists
    // ==========================================================================
    ul,
    ol {
        & + p,
        & + ul,
        & + ol,
        & + blockquote {
            margin-top: size-clamp('sm');
        }
    }

    // ==========================================================================
    // Link
    // ==========================================================================
    a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        word-wrap: break-word;

        &:hover {
            text-decoration-thickness: 2px;
        }
    }

    // ==========================================================================
    // Image
    // ==========================================================================
    img {
        width: 100%;
        margin: size-clamp('lg') 0;
    }

    // ==========================================================================
    // iFrame
    // ==========================================================================
    iframe {
        width: 100%;
        height: auto;
        margin: size-clamp('lg') 0;
    }

    // ==========================================================================
    // Table
    // ==========================================================================
    table {
        width: 100%;
        margin: size-clamp('lg') 0;

        & + p,
        & + ul,
        & + ol {
            margin-top: 1em;
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            margin-top: 1em;
        }
    }

    caption {
        padding: 10px;
        font-style: italic;
    }

    // ==========================================================================
    // Blockquote
    // ==========================================================================
    blockquote {
        // @include heading;
        // @include heading-h3;
        quotes: "“" "”" "’" "’";
        padding: 0;
        margin: size-clamp('md') 0;

        p {
            &::before {
                content: open-quote;
            }

            &::after {
                content: close-quote;
            }
        }

        & + p {
            padding-top: 0;
        }

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6,
        & + blockquote {
            margin-top: 0;
        }
    }
}
