// ==========================================================================
// Typography / Headings
// ==========================================================================

.t-h1,
.t-h2,
.t-h3,
.t-h4,
.t-h5,
.t-h6 {
    --heading-line-height: #{$line-height};

    line-height: var(--heading-line-height);
}

.t-h1 {
    font-size: var(--font-size-h1);
}

.t-h2 {
    font-size: var(--font-size-h2);
}

.t-h3 {
    font-size: var(--font-size-h3);
}

.t-h4 {
    font-size: var(--font-size-h4);
}

.t-h5 {
    font-size: var(--font-size-h5);
}

.t-h6 {
    font-size: var(--font-size-h6);
}
