// ==========================================================================
// Tools
// ==========================================================================

// Functions
// ==========================================================================
@function em($px, $base: $font-size) {
	@return ($px / $base) * 1em;
}

@function rem($px, $base: $font-size) {
	@return ($px / $base) * 1rem;
}

@function span($fraction) {
	@return $fraction * 100%;
}

// Mixins
// ==========================================================================
@mixin vertical-center {
    font-size: 0;

    &:before {
        display: inline-block;
        height: 100%;
        content: "";
        vertical-align: middle;
    }

    > * {
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
    }
}

// Micro clearfix, as per {@link css-101.org/articles/clearfix/latest-new-clearfix-so-far.php CSS Mojo}
//
// @see inuitcss/generic.clearfix
@mixin clearfix {
	&:after {
		content : "";
		display : table;
		clear   : both;
	}
}

@mixin list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin tap-highlight-color {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin overflow-scrolling {
	-webkit-overflow-scrolling: touch;
}

