/* ==========================================================================
   Tools
   ========================================================================== */

/* Functions
   ========================================================================== */
@function em($px, $base: $font-size) {
	@return ($px / $base) * 1em;
}

@function rem($px, $base: $font-size) {
	@return ($px / $base) * 1rem;
}

@function span($fraction) {
	@return $fraction * 100%;
}

/* Mixins
   ========================================================================== */
// Micro clearfix, as per {@link css-101.org/articles/clearfix/latest-new-clearfix-so-far.php CSS Mojo}
//
// @see inuitcss/generic.clearfix

@mixin clearfix {
	content : "";
	display : table;
	clear   : both;
}
