// ==========================================================================
// Elements / Document
// ==========================================================================

// Simple page-level setup.
//
// 1. Include web fonts
// 2. Ensure the page always fills at least the entire height of the viewport.
// 3. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables.

@include font-faces($font-faces, $font-dir); // [1]

html {
    min-height: 100%; // [2]
    line-height: $line-height;
    font-family: ff("sans");
    color: $color;
    line-height: $line-height; // [3]
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.is-loading {
        cursor: wait;
    }

    &.has-scroll-smooth {
        overflow: hidden;
    }

    &.has-scroll-dragging {
        user-select: none;
    }

    @media #{md("medium", "max")} {
        font-size: $font-size - 2px;
    }

    @media #{mdb("medium", "large")} {
        font-size: $font-size - 1px;
    }

    @media #{mdb("large", "huge")} {
        font-size: $font-size; // [1]
    }

    @media #{mdb("huge", "gigantic")} {
        font-size: $font-size + 1px;
    }

    @media #{mdb("gigantic", "colossal")} {
        font-size: $font-size + 2px;
    }

    @media #{md("colossal")} {
        font-size: $font-size + 4px;
    }
}

body {
    .has-scroll-smooth & {
        overflow: hidden;
    }
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: none;
}

a {
    color: $link-color;

    @include u-hocus {
        color: $link-hover-color;
    }
}
