/* ==========================================================================
   Forms
   ========================================================================== */
.input {
	background-color: #cccccc;
	//width: 100%;
	display: block;
	border: none;
	outline: none;
	color: $black;
	border-radius: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.select {
	@extend .input;
	min-width: 300px;
}

.checkbox {
	@extend .input;
	display: inline-block;
	width: 30px;
	height: 30px;
}
