/* ==========================================================================
   Forms
   ========================================================================== */
.input {
	width: 100%;
	display: block;
	border: none;
	outline: none;
	color: $black;
	border-radius: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.select {

}

.checkbox {

}
