/* ==========================================================================
   Forms
   ========================================================================== */
.input {
	display: block;

	width: 100%;

	color: $black;
	border: none;
	border-radius: 0;
	outline: none;

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}




