/* ==========================================================================
   Headings
   ========================================================================== */
h1, .h1, .alpha {
	font-size: $heading-1;
	line-height: $heading-line-height;

	margin-top: 0;
}

h2, .h2, .beta {
	font-size: $heading-2;
	line-height: $heading-line-height;

	margin-top: 0;
}

h3, .h3, .gamma {
	font-size: $heading-3;
	line-height: $heading-line-height;

	margin-top: 0;
}

h4, .h4, .delta {
	font-size: $heading-4;
	line-height: $heading-line-height;

	margin-top: 0;
}

h5, .h5, .epsilon {
	font-size: $heading-5;
	line-height: $heading-line-height;

	margin-top: 0;
}

h6, .h6, .zeta {
	font-size: $heading-6;
	line-height: $heading-line-height;

	margin-top: 0;
}
