h1, .h1, .alpha{
    font-size: em($ia-heading-size-1);
    line-height:1;
    margin-top:0;
}
h2, .h2, .beta{
    font-size: em($ia-heading-size-2);
    line-height:1;
    margin-top:0;
}
h3, .h3, .gamma{
    font-size: em($ia-heading-size-3);
    line-height:1;
    margin-top:0;
}
h4, .h4, .delta{
    font-size: em($ia-heading-size-4);
    line-height:1;
    margin-top:0;
}
h5, .h5, .epsilon{
    font-size: em($ia-heading-size-5);
    line-height:1;
    margin-top:0;
}
h6, .h6, .zeta{
    font-size: em($ia-heading-size-6);
    line-height:1;
    margin-top:0;
}
